/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- Custom styling ---- */
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    background-color: #282e2b;
    font-size: 16px;
    line-height: 1.5;
    font-family:  'Open Sans', sans-serif;
}
blockquote{
    padding: 32px 0;
    margin: 24px 0;
    text-transform: capitalize;
}
.flex{
    display: flex;
    justify-content: space-between;
}
header{
    padding: 24px 0;
    margin: 12px 0;
    font-size: 60px;
    text-transform:capitalize;
    color: #fff;
    text-align: center;
    text-shadow: 6px 9px 10px rgba(0, 0,0,0.899);
    font-weight: 600;
}
h1{
    text-align: justify;
    word-spacing: -8px;
    margin-bottom: 20px;
    
}
.tag{
    font-weight: 600;
    font-size: 20px;
    color: red;
    text-shadow: 6px 9px 10px rgba(0, 0,0,0.0.56);
}

.date{
   color: rgb(233, 225, 225);
   font-size: 20px;
   font-weight: 600;
}


p{
    color: #8a8571;
    line-height: 1.7;
    word-spacing: 1px;
}
.container{
    max-width: 1200px;
    margin: 18px auto;
    padding: 24px 48px;
}